#body{
    font-family:Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

#header{
    background: #ebebeb;
       
}
#nav{
    background: #ebebeb;
    padding:20px;
    margin: 5px;
    text-align: center;
}  
#aside{
    background: #ebebeb;
    float: right;
} 
#footer{
    background: #ebebeb;
}

#section{
    background: #ebebeb;
    float: left;
}

#article{
    color: #ebebeb;
    background: #777;
}

h1{
    color: #777;
    background: #ebebeb;
    text-align: center;
}

p{
    color: #777;
    background: #ebebeb;
    padding: 20px;
}