body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: gold;
    padding: 32px;
}

header {
    color: gold;
    height: 150px;
    padding: 4px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color:gold;
    height: 50px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: white;
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: black
}

ul.main_menu {
    margin-top: 15px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.main_menu a {
    text-decoration: none;
    color: gold;
    padding: 8px;
    font-variant: small-caps;
}
.main_menu a hover {
    color: black;
}
